.indy.build
.metadata
indy.diagram/map/
indy.diagram/proc/
.map_diagram/
.proc_diagram/
**/indy.diagram/map/
**/indy.diagram/proc/
**/.settings/org.eclipse.core.resources.prefs/
!**/.settings/
!**/.settings/org.eclipse.core.resources.prefs
**/indy.diagram/
**/org.eclipse.core.resources.prefs
